@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TDKT.cshtml";
}

<h2>
    Tiến độ kiểm toán năm <span class="btn btn-default btn-lg"><b>2015 <span class="fa fa-caret-down"></span></b></span>
    <form name="followDateForm" class="form-inline" role="form">
        <div class="form-group" ng-class="{'has-error': followDateForm.date.$invalid}">
            <small>Tính đến ngày </small>
            <div class="input-group date">
                <input type="text" class="form-control" ng-model="followDate" name="date" bs-datepicker>
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </form>
</h2>
<hr />
<div ng-controller="modalCtrl" class="form-group">
    <button type="button" class="btn btn-lg btn-primary" data-animation="am-fade" data-placement="center" bs-modal="modal">
        Click to toggle modal
        <br>
        <small>(using an object)</small>
    </button>

    <!-- You can use a custom html template with the `data-template` attr -->
    <button type="button" class="btn btn-lg btn-danger" data-animation="am-fade-and-slide-top" data-template="@Url.Action("infoModal", "Home")" bs-modal="modal">
        Custom Modal
        <br>
        <small>(using data-template)</small>
    </button>
</div>
<div ng-controller="datepickerCtrl">
    <form name="datepickerForm" class="form-inline" role="form">
        <!-- Basic example -->
        <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
            <label class="control-label"><i class="fa fa-calendar"></i> Date <small>(as date)</small></label>
            <div class="input-group date">
                <input type="text" class="form-control" ng-model="selectedDate" name="date" bs-datepicker>
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        <!-- Custom example -->
        @*<div class="form-group" ng-class="{'has-error': datepickerForm.date2.$invalid}">
                <label class="control-label"><i class="fa fa-calendar"></i> Date <small>(as number)</small></label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="selectedDateAsNumber" data-date-format="yyyy-MM-dd" data-date-type="number" data-min-date="02/10/86" data-max-date="today" data-autoclose="1" name="date2" bs-datepicker>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>*@
        <hr>
        <!-- Date range example -->
        <div class="form-group">
            <label class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i> Date range <small>(dynamic)</small></label><br>
            <div class="form-group col-xs-6" ng-class="{'has-error': datepickerForm.fromDate.$invalid}">
                <div class="input-group date">
                    <input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="Từ ngày" bs-datepicker name="fromDate"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <div class="form-group col-xs-6" ng-class="{'has-error': datepickerForm.untilDate.$invalid}">
                <div class="input-group date">
                    <input type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="Đến ngày" bs-datepicker name="untilDate"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
    </form>
</div>

