@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TDKT.cshtml";
}

<h2>Tiến độ kiểm toán năm 2015</h2>

<div ng-controller="modalCtrl">
    <button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal">
        Click to toggle modal
        <br>
        <small>(using an object)</small>
    </button>

    <!-- You can use a custom html template with the `data-template` attr -->
    <button type="button" class="btn btn-lg btn-danger" data-animation="am-fade-and-slide-top" data-template="@Url.Action("ModalInfo", "Home")" bs-modal="modal">
        Custom Modal
        <br>
        <small>(using data-template)</small>
    </button>
</div>


