@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li dropdown>
            <a href="#" dropdown-toggle><i class="fa fa-life-saver fa-fw"></i> Trợ giúp <span class="fa fa-caret-down"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-book fa-fw"></i> Hướng dẫn sử dụng</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-phone fa-fw"></i> Đường dây nóng: 123456789</a></li>
                <li><a href="#"><i class="fa fa-envelope-o fa-fw"></i> Hỗ trợ email: xxx@sav.gov.vn</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-copyright fa-fw"></i> Thông tin phần mềm</a></li>
            </ul>
        </li>
        <li dropdown>
            <a href="#" dropdown-toggle><i class="fa fa-cogs fa-fw"></i> Tiện ích <span class="fa fa-caret-down"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-keyboard-o fa-fw"></i> Unikey</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-rss fa-fw"></i> Chrome</a></li>
                <li><a href="#"><i class="fa fa-rss-square fa-fw"></i> Firefox</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-book fa-fw"></i> Foxit Reader</a></li>
                <li><a href="#"><i class="fa fa-file-archive-o fa-fw"></i> WinRAR</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-desktop fa-fw"></i> TeamViewer</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-sign-out fa-fw"></i> Thoát</a>
        </li>
    </ul>
}
