@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderBody()

@section AppName {
    <span class="navbar-brand">Quản lý Nhật ký kiểm toán</span>
}

@section SubMenu {
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-clipboard fa-fw"></i> Nhật ký kiểm toán <span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-pencil-square-o fa-fw"></i> Nhật ký kiểm toán bản thân</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-archive fa-fw"></i> Các cuộc kiểm toán đã tham gia</a></li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-briefcase fa-fw"></i> Nhật ký công tác</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search fa-fw"></i> Kiểm tra thông tin <span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-shopping-cart fa-fw"></i> Kiểm tra NKKT đoàn kiểm toán</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-cog fa-fw"></i> Kiểm tra NKKT đơn vị</a></li>
            <li><a href="#"><i class="fa fa-list fa-fw"></i> Kiểm tra NKKT nhóm đơn vị</a></li>
            <li><a href="#"><i class="fa fa-list fa-fw"></i> Kiểm tra NKKT toàn ngành</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-copy fa-fw"></i> Báo cáo NKKT <span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-bar-chart fa-fw"></i> Tình hình ghi NKKT của đoàn kiểm toán</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-bar-chart fa-fw"></i> Tình hình ghi NKKT của đơn vị</a></li>
            <li><a href="#"><i class="fa fa-bar-chart fa-fw"></i> Tình hình ghi NKKT của nhóm đơn vị</a></li>
            <li><a href="#"><i class="fa fa-bar-chart fa-fw"></i> Tình hình ghi NKKT toàn ngành</a></li>
        </ul>
    </li>
}