@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderBody()

@section AppName {
    <span class="navbar-brand">Tổng hợp Kết quả kiểm toán</span>
}

@section SubMenu {
    <li dropdown>
        <a href="#" dropdown-toggle><i class="fa fa-calculator fa-fw"></i> Số liệu kiểm toán <span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-pencil-square-o fa-fw"></i> Cập nhật số liệu cuộc kiểm toán</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-pencil-square-o fa-fw"></i> Cập nhật số liệu kiểm toán Báo cáo quyết toán cân đối NSNN</a></li>
            <li><a href="#"><i class="fa fa-pencil-square-o fa-fw"></i> Cập nhật số liệu kiểm toán Báo cáo quyết toán thu NSNN</a></li>
            <li><a href="#"><i class="fa fa-pencil-square-o fa-fw"></i> Cập nhật số liệu kiểm toán Báo cáo quyết toán chi NSNN</a></li>
        </ul>
    </li>
    <li dropdown>
        <a href="#" dropdown-toggle><i class="fa fa-search fa-fw"></i> Kiểm tra thông tin <span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-calendar fa-fw"></i> Kiểm tra thông tin theo năm kiểm toán</a></li>
            <li><a href="#"><i class="fa fa-signal fa-fw"></i> Kiểm tra thông tin theo lĩnh vực kiểm toán</a></li>
            <li><a href="#"><i class="fa fa-tasks fa-fw"></i> Kiểm tra số liệu các đơn vị</a></li>
        </ul>
    </li>
    <li dropdown>
        <a href="#" dropdown-toggle><i class="fa fa-copy fa-fw"></i> Báo cáo tổng hợp KQKT <span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-list fa-fw"></i> PL01-Danh mục các đơn vị được kiểm toán</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-sliders fa-fw"></i> PL02-Báo cáo kiểm toán quyết toán cân đối NSNN</a></li>
            <li><a href="#"><i class="fa fa-list fa-fw"></i> Phụ biểu 03 - Đánh giá tiến độ phát hành BCKT</a></li>
        </ul>
    </li>
}